#playingscreen {
  width: 300px;
  height: 670px;
  background-color: white;
  border-radius: 30px;
}

.playing__cover img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 10px 50px tomato;
}

.playingscreen__main {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}

.playing__song {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.playing__singer {
  margin-top: 20px;
  font-size: 15px;
  color: var(--color);
  font-weight: bold;
}
.playing__time {
  margin: 40px var(--sideLine) 10px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color);
}
.playing__loading {
  display: flex;
  justify-content: center;
  position: relative;
}

.playing__loading-longbar {
  width: 260px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.playing__loading-shortbar {
  position: absolute;
  margin-left: -110px;
  width: 150px;
  border: 2px solid #333;
}

.playing__loading-circle {
  position: absolute;
  left: 170px;
  top: -3px;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50px;
}

.playing__button {
  margin: 80px 10px;
  display: flex;
  justify-content: space-around;
}

.playing__button i:first-child,
.playing__button i:last-child {
  color: var(--color);
}

.playing__button i:nth-child(3) {
  box-shadow: 5px 5px 15px rgb(156, 150, 150);
}
