@import "reset.css";
@import "variables.css";

@import "documents/playscreen.css";
@import "documents/playingscreen.css";
@import "documents/playlists.css";

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  font-size: 20px;
}
#container {
  width: 700px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.status__bar {
  box-sizing: border-box;
  width: 260px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 10px 20px;
}
